node_modules
dist
dist-ssr
*.local
*.tsbuildinfo
.DS_Store

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.*
!.env.example

# Misc
.pdfvenv
ref-images
"Front-End Assessment (1).pdf"
